.wrapper {
  width: 25%;
  margin: 0 5px;
  display: flex;
  flex-direction: column;
  min-height: 400px;
  border-radius: 3px;
  background-color: rgb(244, 245, 247);
}
.header {
  padding: 13px 10px 17px;
  text-transform: uppercase;
  color: rgb(94, 108, 132);
  font-size: 12.5px;
  line-height: 12.5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: flex;
  font-weight: 500;
}
.title {
  margin-right: 2px;
}
.number {
  text-transform: lowercase;
  font-size: 13px;
}
.list {
  height: 100%;
  padding: 0 5px;
}
