.header {
}
.name {
  display: inline-block;
  padding-right: 12px;
  padding-bottom: 10px;
  color: rgb(66, 82, 110);
  font-weight: normal;
}
.date {
  display: inline-block;
  padding-bottom: 10px;
  color: rgb(66, 82, 110);
  font-size: 14.5px;
}
.content {
  padding-bottom: 10px;
  white-space: pre-wrap;
}
.btn-group {
  color: rgb(94, 108, 132);
}
.btn-edit {
  display: inline-block;
  padding: 2px 0px;
  color: rgb(94, 108, 132);
  font-size: 14.5px;
  cursor: pointer;
  user-select: none;
  &:hover {
    text-decoration: underline;
  }
}
.btn-delete {
  display: inline-block;
  padding: 2px 0px;
  color: rgb(94, 108, 132);
  font-size: 14.5px;
  cursor: pointer;
  user-select: none;
  &:hover {
    text-decoration: underline;
  }
}
