.text-area-comment {
  overflow-y: hidden;
  width: 100%;
  padding: 8px 12px 9px;
  border-radius: 3px;
  border: 1px solid rgb(223, 225, 230);
  color: rgb(23, 43, 77);
  background: rgb(244, 245, 247);
  font-weight: normal;
  font-size: 15px;
}
.btn-group {
  display: flex;
  padding-top: 10px;
  margin-left: -6px;
}
